@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.homePage-title {
  margin-top: 10%;
  margin-bottom: 20%;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
    }

  }
}

#tip {
  margin-top: 3%;
}

#moveDown {
  margin-bottom: 3%;
}
